@import url("../../../home/assets/css/style.css");


#main-header-container{
    padding: 0.5vw;
}

#main-header-content{
    margin: 0;
    padding: 0;
}

#main-description {
    font-size: 1.5vw;
    text-align: center;
    margin: 0.5vw;
}

#presentation-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vw;
    font-size: 1vw;
}

#presentation-links a {
    margin: 0.5vw;
    text-decoration: underline;
    color: var(--color-secondary);
}

#presentation-links a:hover {
    color: var(--highlight-color);
}

#presentation-links a:active {
    color: var(--active-color);
}

#content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: auto;
}

#scene-wrapper {
    width: 30vw;
    aspect-ratio: 1 / 1;
    margin: auto;
    border: 1vw solid var(--header-color);
    box-sizing: border-box;
}

#scene-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

#instructions .ui-subgroup {
    font-size: 1vw;
}

*>ol, *>ul {
    margin-left: 2vw;
}

#instructions li {
    margin: 0.5vw;
}

#instructions ul {
    list-style-type: circle;
}

.highlight {
    font-weight: bold;
    font-style: italic;
    color: var(--text-color-secondary)
}

.ui-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    font-size: var(--font-size);
}

.ui-subgroup-header{
}

.ui-subgroup {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    padding: 0.5vw;
    border: 0.1vw solid var(--text-color-secondary);
    color: white;
}

.ui-button {
    all: unset;
    display: inline-block;
    margin: 0.2vw;
    padding: 0.5vw;
    background-color: var(--header-color);
    color: white;
    border: 0.2vw solid var(--text-color-secondary);
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
}

.ui-button:hover {
    border-color: var(--color-secondary);
}

.ui-label {
    margin: 0.2vw;
    padding: 0.5vw;
    background-color: var(--header-color);
    color: white;
}

.ui-element-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 1vw;
    margin: 0.25vw;
    background: var(--header-color);
    outline: var(--text-color-secondary) solid 0.2vw;
    border-radius: 0.5vw;
    opacity: 1.0;
    -webkit-transition: 0.2s;
    transition: all 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1vw;
    height: 1vw;
    background: var(--active-color);
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 1vw;
    height: 1vw;
    background: var(--active-color);
    cursor: pointer;
    border-radius: 50%;
}


.slider-output {
    height: auto;
    width: 4vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 0.25vw;
    text-align: center;
    background-color: var(--header-color);
    color: white;
    font-family: var(--header-font-family);
    font-size: var(--font-size);
}

.toggle {
    position: relative;
    width: 2vw;
    height: 1vw;
    border: 0.2vw solid var(--text-color-secondary);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.circle {
    position: absolute;
    left: 0;
    width: 1vw;
    height: 1vw;
    border-radius: 1vw;
    background-color: var(--highlight-color);
    transition: 0.3s;
}

.toggle-active {
    border: 0.2vw solid var(--color-secondary);
}

.toggle-active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: 0.3s;
    background-color: var(--active-color);
}

.no-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#x-range, #z-range {
    padding: 0.5vw;
    width: 4vw;
}

#start-button {
    border-radius: 0.25vw;
    font-size: 1.5vw;
}

#ui-container {
    margin: auto;
}