/*#region variables*/

:root {
    --header-font-family: "Montserrat";
    --paragraph-font-family: "Inconsolata";
    --bold-font: 700;
    --bolder-font: 900;
    --primary-color: #FFFFFF;
    --primary-highlight-color: #EF476F;
    --primary-shadow: #272727;
    --secondary-color: #B37D00;
    --secondary-highlight-color: #FFD166;
    --secondary-shadow: #464646;
    --tertiary-color: #118AB2;
    --tertiary-highlight-color: #30BDEC;
    --tertiary-shadow: #1d1d1d;
    --bg-color: var(--secondary-shadow);
    --half-margin: 0.5rem;
    --full-margin: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --nav-pad: 1.5rem;
}


/*#endregion*/


/* CSS Resets */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--header-font-family);
    background-color: var(--bg-color);
}

.section-divider {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-shadow);
    padding: 0.5em;
    font-size: 1.5rem;
    justify-content: center;
    height: 5rem;
}

#projects-see-all {
    display: none;
    text-align: center;
    opacity: 50%;
    font-size: 2rem;
    font-weight: var(--bolder-font);
    cursor: pointer;
    transition: var(--transition);
}

#projects-see-all:hover {
    opacity: 100%;
}

p {
    font-family: var(--paragraph-font-family);
}

h2 {
    display: inline;
    font-family: var(--header-font-family);
    color: var(--primary-color);
    text-align: center;
    margin: auto;
}

h3 {
    font-family: var(--header-font-family);
    color: var(--primary-color);
    font-style: italic;
}

ul {
    list-style-type: none;
}

.dark-back {
    background-color: var(--primary-shadow);
}

.dark-back p {
    color: white;
}


/*#region links & buttons*/

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    color: var(--secondary-highlight-color);
}

a:active {
    color: var(--primary-highlight-color);
}


/*#endregion*/


/*#region nav*/

nav {
    position: sticky;
    top: 0;
    padding: 1vw 1vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-shadow);
    box-shadow: 0 0.1rem 0.1re, var(--secondary-shadow);
}

.nav-link {
    display: flex;
    width: auto;
    height: auto;
    padding: 0 var(--nav-pad);
    font-size: 2rem;
    font-weight: var(--bold-font);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

.animate-underline:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    position: relative;
    /* This will put the pseudo element on its own line. */
    margin: auto;
    /* This will center the border. */
    width: 0;
    /* Change this to whatever width you want. */
    border-bottom: 0.2rem solid white;
    /* This creates the border. Replace black with whatever color you want. */
    transition: var(--transition) ease;
}

.animate-underline:hover:after {
    width: 50%;
}

.animate-underline:active:after {
    width: 75%;
}

#homeName {
    display: flex;
    padding: 0 var(--nav-pad);
    width: auto;
    height: auto;
    font-size: 2rem;
    font-weight: var(--bolder-font);
}


/*#endregion*/


/*#region hero*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 68.75rem;
    margin: 2rem auto;
}


/*#endregion*/


/*#region bio*/

.bio {
    width: 25rem;
    padding: var(--half-margin);
    border-radius: var(--half-margin);
    box-shadow: 0 0.1rem 0.5rem 0.1rem var(--primary-shadow);
}

.bio h2 {
    margin: var(--half-margin);
}

.bio p {
    line-height: var(--line-height);
    margin: var(--half-margin);
}


/*#endregion*/


/*#region projects*/

.projects {
    overflow: hidden;
    margin: 2rem;
    background-color: var(--tertiary-shadow);
    border-radius: var(--half-margin);
}

#projects-see-all{
    font-family: var(--paragraph-font-family);
}

.projects-container {
    padding: 2rem;
    display: block;
}

.projects-subtype {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

.project-card {
    border: 0.1rem solid var(--primary-shadow);
    box-shadow: 0.2rem 0.2rem  var(--secondary-shadow);
    overflow: hidden;
    text-align: center;
    width: 30%;
    height: fit-content;
    margin: var(--full-margin);
    padding: var(--half-margin);
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--half-margin) 0;
    background-color: var(--tertiary-shadow);
}

.project-title {
    background-color: black;
    padding: var(--full-margin) 0;
}

.project-details {
    width: 100%;
    padding: var(--full-margin) var(--half-margin);
    font-size: 0.8rem;
    border-bottom: 0.1rem solid var(--secondary-shadow)
}

.project-details-title {
    color: white;
    width: 100%;
    padding: var(--half-margin) 0;
}

.project-preview-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 0.1rem solid rgb(128, 128, 128);
    transition: var(--transition);
    cursor: pointer;
}

.project-preview-container:hover {
    border-color: rgb(128, 128, 128);
}

.project-preview {
    width: 100%;
    height: 100%;
    transition: transform var(--transition);
}

.project-preview:hover {
    transform: scale(1.05);
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--half-margin);
}

.project-title-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.project-tag {
    color: white;
    background-color: var(--tertiary-shadow);
    font-size: 0.75rem;
    border: 0.2em solid var(--secondary-shadow);
    margin: 0 calc(var(--half-margin) / 2);
    padding: var(--half-margin);
    cursor: pointer;
    transition: var(--transition);
}

.project-tag:hover{
    border-color: var(--secondary-highlight-color)
}

.project-title-tag{
    color: white;
    background-color: var(--tertiary-shadow);
    margin: 0 calc(var(--half-margin) / 2);
    padding: var(--half-margin);
    border: 0.2em solid var(--secondary-shadow);
    cursor: pointer;
    transition: all var(--transition) ease;
}

.project-title-tag:hover{
    border-color: var(--secondary-highlight-color)
}


/*#endregion*/


/*#region contact*/

.contact {
    overflow: hidden;
    background-color: var(--tertiary-shadow);
    margin: 2rem;
    border-radius: var(--half-margin);
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--full-margin);
}

.contact .contact-content {
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.contact p {
    margin: auto;
    width: 50%;
    color: white;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: var(--full-margin);
}

.socicon {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: var(--full-margin);
    transition: var(--transition);
}

.socicon:hover {
    border-radius: 30%;
}

.socicon:active {
    border-radius: 40%;
}


/*#endregion*/


/*#region header & footer & page controls*/

footer {
    color: white;
    background-color: var(--primary-shadow);
    padding: var(--full-margin);
    text-align: center;
    margin: 2rem 0 0;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}


/*#endregion*/


/*#region @media screen and (max-width: 720px)*/


/*changes reflects on screen with a width of 720px and below*/

@media screen and (max-width: 1080px) {
    /*#region nav*/
    nav {
        display: block;
    }
    /*#endregion*/
    .contact-form-container {
        max-width: 24rem;
    }
    .project-card {
        width: 90%;
        height: auto;
    }
    .project-content {
        flex-direction: column;
    }
    .project-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


/*#endregion*/


/*#region @media screen and (max-width: 420px)*/

@media screen and (max-width: 420px) {
    .bio {
        width: 18rem;
    }
    .project-container {
        width: 18rem;
    }
    .contact-form-container {
        max-width: 18rem;
    }
}


/*#endregion*/